body {
  background-color:black;
  padding: 10%;
}

h1 {
  text-align: center;
  color:blanchedalmond;
}

h2 {
  text-align: center;
  color: darkkhaki;
} 

h3 {
  text-align: center;
  color:crimson;
}

p {
  color:darkgray;
}

.stylyst a {
  color:darkkhaki;
}

li {
  color:darkkhaki;
}

#see {
  font-size: 2 em;
  display: block;
  margin: auto;
  margin-top: 3%;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  font-size:150%;
  color-adjust: 1;
}