body {
  background-color:black;
  padding: 10%;
}

h1 {
  text-align: center;
  color:blanchedalmond;
}

#see {
  font-size: 2 em;
  display: block;
  margin: auto;
  margin-top: 3%;
}

a {
  color:brown;
}
a:hover {
  text-decoration: none;
}