body {
  background-color:black;
  padding: 10%;
}

h1 {
  text-align: center;
  color:blanchedalmond;
}

h3 {
  text-align: center;
  color:crimson;
}

#see {
  font-size: 2 em;
  display: block;
  margin: auto;
  margin-top: 3%;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  font-size:150%;
  color: black;
}