@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon</h1>
@* <p>@Html.ActionLink("See all clients", "Index", "Clients")</p> *@
<p><button class="btn btn-light" id="see">@Html.ActionLink("See all stylysts", "Index", "Stylysts")</button></p>